<!DOCTYPE html>
<html lang="en" ng-app="FirstApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<!--load libraries -->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <!--load my app-->
    <script src="/index.js"></script>

</head>
<body>
    <div class=container ng-controller="FirstCtrl as firstCtrl">
        <h1>{{firstCtrl.myText}}</h1>
        <h1>{{firstCtrl.reverseMyText}}</h1>
        <br>
        <input type="text" size="30" placeholder="Enter some text here" ng-model="firstCtrl.myText">
        <button type="button" ng-click="firstCtrl.reverseText()">Reverse</button>  
        <button type="button" ng-click="firstCtrl.clearText()">Clear Reverse Text</button>  
    </div>
</body>
</html>